.logoContainer{
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%
}
  .alanLogo{
    height: 22vmin;
    border-radius: 15%;
    padding: 0 5%;
    margin: 3% 0;
   
  }

  @media screen and (max-width: 600px) {
    .alanLogo {
      height: 35vmin;
    }

    .logoContainer{
        flex-direction: column-reverse;
        text-align: center;
    }
  }